body			{ margin:0; overflow:hidden; }
#body           { font-size:3vw; position:relative; margin:.6em;
                  font-family: TeXGyreAdventorRegular, "Century Gothic", sans-serif; overflow:hidden }
#body.square	{ width:32em; height:32em; }
#body.portrait	{ width:32em; height:42em; }
.frontheader    { background-color:#378; height:10%; }
.frontfooter    { background-color:#378; height:20%; }
.img            { width:100%; }

#credits        { height:10em; }
.credit         { height:2em; }
.credit>*       { float:left; height:1.2em; padding:.1em 0 .1em .5em; border:2px solid gray; }
.credit .label  { background-color:gray; color:white; border-radius:.5em 0 0 .5em; width:7em; }
.credit .value  { border-radius:0 .5em .5em 0; width:11em; }
#licence        { width:80%; float:right; }

#title          { position:absolute; font-size:1.2em; top:3%; left:0; width:100%;
                  background-color:white; height:1.4em; text-align:center; }
#subtitle       { position:absolute; font-size:1.2em; top:88%; left:0; width:100%;
                  background-color:white; height:1.4em; text-align:center; }
.legend         { font-size:%font%em; text-align:justify; padding:.2em; }
#body.square .legend 	{ height:23%; }
#body.portrait .legend 	{ height:41%; }
