body			{ margin:0; overflow:hidden; }
a				{ font-style:inherit; color:inherit; text-decoration:inherit; }
a				{ color:inherit; }
#body           { font-size:3vw; position:relative; margin:.6em; border:1px solid black;
                  font-family: TeXGyreAdventorRegular, "Century Gothic", sans-serif; overflow:hidden }
#body.square	{ width:32em; height:32em; }
#body.portrait	{ width:32em; height:42em; }
.frontheader    { background-color:%color%; height:10%; }
.frontfooter    { background-color:%color%; height:40%; }
.img            { width:100%; }

#credits        { height:35%; margin-left:5%; margin-top:10%; font-size:1.5em; }
.credit         { height:2em; }
.credit>*       { float:left; height:1.2em; padding:.1em 0 .1em .5em; border:2px solid %color%; }
.credit .label  { background-color:%color%; color:white; border-radius:.5em 0 0 .5em; width:7em; }
.credit .value  { border-radius:0 .5em .5em 0; width:11em; }
#licence        { width:50%; float:right; margin-right:5%; }

#title          { position:absolute; font-size:1.2em; top:3%; left:0; width:100%;
                  background-color:white; height:1.4em; text-align:center; }
#subtitle       		{ position:absolute; font-size:1.2em; top:88%; left:0; width:100%;
						  background-color:white; height:1.4em; text-align:center; }
#body.portrait #subtitle { top:72%; }
.legend         		{ font-size:%font%em; text-align:justify; padding:.2em; }
#body.square .legend 	{ height:23%; }
#body.portrait .legend 	{ height:41%; }
.h1						{ text-align:center; font-size:2em; margin-top:20%; margin-bottom:5% }
.comment				{ text-align:center; font-size:1.5em; margin:1em 0; }
.content				{ margin:0 1em; text-align:justify; }
.arrow					{ position:absolute; top:0; width:8%; height:100%; background-color:rgba(255,255,255,0.3);
						  font-size:3em; padding-top:50%; text-align:center; font-weight:bold; opacity:0.3;
						  cursor:pointer }
.arrow:hover			{ opacity:1; }
.left					{ left:0; }
.right					{ left:92%; }